<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".TestActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Alert"
            android:exported="false" />
        <activity
            android:name=".alert.Alert"
            android:exported="false" />
        <activity
            android:name=".NoticeMatter"
            android:exported="false" />
        <activity
            android:name=".Name"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="false" />
        <activity
            android:name=".Check"
            android:exported="false" />
        <activity
            android:name=".refrigerator.PlusMenu"
            android:exported="false" />
        <activity
            android:name=".Notice"
            android:exported="false" />
        <activity
            android:name=".Pan"
            android:exported="false" />
        <activity
            android:name=".refrigerator.RefrigeratorStatus"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".RecipeRec"
            android:exported="false" />
        <activity
            android:name=".login.New_customer"
            android:exported="false" />
        <activity
            android:name=".login.Find"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity android:name=".login.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>